<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
          font-size: 25px;
        background-color: rgb(193, 215, 235);
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      h1,
      h3,
      p,
      h4 {
        text-align: center;
      }

      section{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      section a {
        margin-top: 25px;
        text-decoration: none;
        color: rgb(185, 82, 178);
      }

      section a:hover {
        color: rgb(173, 132, 171);
      }

      

      div {
        display: block;
      }

      p {
        margin-bottom: 0;
      }

      h1 {
        margin-top: 0;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <section>
      <h1>HOLA! Bienvenido a esta API</h1>
      <h3>Aqui encontraras informacion acerca de los estados de Venezuela</h3>
      <p>Para ver la documentacion y aprender como usar la API te inivito a ir al siguiente enlace</p>
      <a href="/docs">Doc</a>
    </section>
  </body>
</html>
